{% extends 'layout.html' %}
{% block content %}
    <div class="container">

    <h4 style="margin-left: 45px"> Delete the Book ? </h4>
        <hr>
        <p style="margin-left: 45px">
            Book Id:    {{ book.id }} <br>
            Book Title: {{ book.title }} <br>
            Book Author: {{book.author }} <br>
        </p>
        <br>
        <form action="{{ url_for('main.delete_book', book_id=book.id) }}" method="POST" style="margin-left: 45px">
            <button type="submit" class="btn btn-sm btn-primary"> Delete </button>
        </form>
    </div>
{% endblock %}

