{% extends 'layout.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Publisher</title>-->
<!--</head>-->
<!--<body>-->
{% block content %}
<div class="container publisher">

    <h4> Books by {{ publisher.name }}</h4>

    <hr><br>

    <ol>
            {% for book in publisher_book %}
                <li type="1">
                {{ book.title}} by {{ book.author }}
                </li>
            {% endfor %}
    </ol>
</div>
{% endblock content %}

<!--</body>-->
<!--</html>-->